<ion-view view-title="Login" cache-view="false"  id="welcome-view"  name="login-view">

 

  <ion-content  >

 

    <!-- <div class="list list-inset">-->          

    <!--<label class="item item-input" title="Enter UserName">-->

      

    <div  style="height:100%">

        <br>

        </br>

      <br>

      </br>

    <br>

      </br>

<br>

      </br>

 

 

 

</div>

  

    <div  class="login-btns" >

             <input type="text" class="username" placeholder="Username" ng-model="data.username" size="60"/>

         

             <input type="password" class="password" placeholder="Password" ng-model="data.password" size="60"/>

             

    <div class="login-btns">

            <div id="social-links">

                

                <ul>

                     <li ng-click="login()"><span class=""><img src=""></span><a href="#" class="button loginbutton">Login</a></li>

                    <li ng-click="FacebookLogin()"><span class="ifacebook"><img src="img/social-icons/facebook.png"></span><a href="#" class="afacebook">sign in with facebook</a></li>

                    <li ng-click="GmailLogin()"><span class="igoogleplus"><img src="img/social-icons/googleplus.png"></span><a href="#" class="agoogleplus">sign in with google+</a></li>

                </ul>

            </div>

            <hr id="login-divider"/>

            

        </div>

        </div>

   <!-- <button class="button button-calm" style="left: 10px;" ng-click="login()">Login</button>

    <button class="button button-calm" style="left: 12px;"  ng-click="GmailLogin()">Gmail login</button>

    <button class="button button-calm" style="left: 15px;"  ng-click="FacebookLogin()">Facebook login</button>-->

 

  </ion-content>

 

</ion-view>

 
